[submodule "hacked"]
	path = hacked
	url = https://github.com/zvory/hacked.git
[submodule "background-image-generator"]
	path = background-image-generator
	url = https://github.com/zvory/background-image-generator.git
[submodule "ibm"]
	path = ibm
	url = https://github.com/zvory/ibm.git
[submodule "recycle"]
	path = recycle
	url = https://github.com/zvory/recycle.git
[submodule "track-to-css-animation"]
	path = track-to-css-animation
	url = https://github.com/zvory/track-to-css-animation.git
[submodule "ar"]
	path = ar
	url = https://github.com/zvory/ar.git
[submodule "city"]
	path = city
	url = https://github.com/zvory/city.git
